Morfrac/MORFRAC/.obsidian/plugins/mcp-tools/bin/
Morfrac/MORFRAC/.obsidian/plugins/obsidian-local-rest-api/data.json
Morfrac/MORFRAC/.obsidian/workspace.json
.trash/
Morfrac/MORFRAC/.obsidian/plugins/mcp-tools/bin/